<!-- app/views/goals/_goal.html.erb -->
<div>
  <h2>Goal Details</h2>
  <p>Goal Type: <%= @goal.goal_type %></p>
  <p>Distance from Target: <%= @goal.distance_from_target %> lb</p>
  <p>Days Since Started: <%= @goal.days_since_started %></p>
</div>
