.welcomeContainer {
 
    margin: auto; /* Center the container */
    margin-bottom: 500px;
    position: absolute;
    bottom: -245px; /* Adjust this value to control the vertical offset */
    left: 23px;
    right: 0;
    
  }
  
  .Startbtn {
    text-align: center;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto; /* Center the button horizontally */
   
    
  }
  
.welcomeImg{
 
    text-align: center;

}


